:host {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#core_scaffold {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#core_header_panel {
  background-color: rgb(255, 255, 255);
}

#content {
  overflow: auto;
  padding: 5px;
  margin: 5px;
}

.item{
  box-sizing: border-box;
  height: 80px;
  border-bottom: 1px solid #ddd;
  padding: 4px;
  cursor: default;
  background-color: white;
  overflow: hidden;

}

#core_toolbar {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(79, 125, 201);
}
#core_menu {
  font-size: 16px;
}
